<!-- Start Container-->
<div class="container-buy">
    <!-- Start Header -->
    <div class="site-header">
        <div class="site-logo">
            <%= link_to image_tag("logo.png",width:'250',height:'70'), welcome_path  %>
        </div>
        <div class="site-nav-1">
            <%= link_to "Home", welcome_path %>
        </div>
        <div class="site-nav-2">
            <a href="#">Store</a>
        </div>
        <div class="site-nav-3">
            <%= link_to "Login", login_path %>
        </div>
        <div class="site-nav-4">
            <%= link_to "About", about_path %>
        </div>
    </div>
    <!-- End Header -->
    <div class="site-buy-image-detail">
        <%= image_tag("shoe1.jpg",width:'800',height:'600')%>
    </div>
    <div class="site-buy-detail">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="site-buy-form">
        <div class="visa-logo">
            <%= radio_button_tag('credit-card','flase') %>
            <%= image_tag("visa-logo.png" , width:'80',height:'50')%>
        </div>
        <div class="mastercard-logo">
            <%= radio_button_tag('credit-card','flase') %>
            <%= image_tag("mastercard-logo.png" , width:'80',height:'50')%>
        </div>
        <div class="americanex-logo">
            <%= radio_button_tag('credit-card','flase') %>
            <%= image_tag("americanex-logo.png" , width:'80',height:'50')%>
        </div>
        <div class="paypal-logo">
            <%= radio_button_tag('credit-card','flase') %>
            <%= image_tag("paypal-logo.jpg" , width:'80',height:'50')%>
        </div>
        <div class="form-payment-method">
            <%= text_field_tag('card-name',nil , maxlength:16, placeholder:'Name') %>
            <%= text_field_tag('card-surname',nil , maxlength:16, placeholder:'Surname') %>
        	<%= text_field_tag('text-card-no',nil , maxlength:16, placeholder:'Card Number') %>
            <%= text_field_tag('cvv',nil , maxlength:3 , size:5 , placeholder:'CVV') %>
            <%= submit_tag("OK") %>
        </div>
    </div>
    <!-- Start Footer -->
    <div class="site-buy-footer">
        <p style="text-align: center;">&copy; 2019 - CN340 SOFTWARE ENGINEERING</p>
    </div>
    <!-- End Footer -->
</div>
<!-- End Container-->
