<div class="container-welcome">
    <div class="site-header">
        <div class="site-logo">
            <%= link_to image_tag("logo.png",width:'250',height:'70'), home_path  %>
        </div>
        <div class="site-nav-2">
            <%= link_to "Home" , home_path %>
        </div>
        <% if current_user %>
        <% else %>
        <div class="site-nav-3">
            <%= link_to "Sign Up", signup_path %>
        </div>
        <div class="site-nav-4">
            <%= link_to "Log In", login_path %>
        </div>
        <div class="site-nav-5">
            <%= link_to "About" , about_path %>
        </div>
        <% end %>
        <% if current_user%>
        <% if current_user.email == 'admin@test.com'%>
         <div class="site-nav-2">
            <%= link_to "Home" , home_path %>
        </div>
        <div class="site-nav-3">
            <%= link_to "About" , about_path %>
        </div>
        <div class="site-nav-4">
             <%= link_to "Edit", edit_user_path(current_user) %>
        </div>
        <div class="site-nav-5">
            <%= link_to "Admin Order", orders_path %>
        </div>
        <div class="site-nav-6">
            <%= link_to "Log Out", logout_path %>
        </div>
        <% else %>
         <div class="site-nav-2">
            <%= link_to "Home" , home_path %>
        </div>
        <div class="site-nav-3">
            <%= link_to "About" , about_path %>
        </div>
        <div class="site-nav-4">
            <%= link_to "User Order", userorder_path %>
        </div>
        <div class="site-nav-5">
            <%= link_to "Edit", edit_user_path(current_user) %>
        </div>
        <div class="site-nav-6">
            <%= link_to "Log Out", logout_path %>
        </div>
        <% end %>
        <% end %>
    </div>
    <div class="site-images-1">
        <div class="detailimag1">
            <%= link_to image_tag("nike-image3.jpg") , detail_no_login_path %>
        </div>
    </div>
    <!-- End Images Content 1 -->
    <div class="content1">
        <p style="font-size: 2.5em;">เสื้อผ้า และ Accessory มากมายมาแล้ววันนี้</p>
        <p>24 preorder คือร้านที่รวบรวมเสื้อผ้าและเครื่องแต่งกายที่เหมาะกับคุณ เพื่อสร้างประสบการณ์ที่แปลกใหม่ที่ไม่เคยมีที่ไหนมาก่อน พร้อมทั้งเรายังมีระบบ Search engine ที่สามารถ ค้นหาสินค้าที่คุณต้องการได้อย่างรวดเร็ว</p>
    </div>
    <!-- Start Images Content 2 -->
    <div class="site-images-2">
        <div class="detailimag2">
            <p style="font-size: 2.5em;">มาดูสินค้ากันเลยดีกว่า</p>
            <%= link_to image_tag("gucci1.jpg"), detail_no_login2_path %>
        </div>
    </div>
    <!-- End Images Content 2 -->
    <div class="content2">
        <p style="font-size: 2.5em;">กระเป๋า Gucci GG Marmont</p>
        <p>เป็นกระเป๋าที่เหมาะกัยคุณผู้หญิง ที่มีขนาด Dimenions: 9.5"W x 5"H x 3"D. Strap 23.5" ไม่ใหญ่เกินไปเหมาะกับการสะพายไปทำงาน</p>
    </div>
    <!-- Start Images Content 3 -->
    <div class="image3">
        <div class="site-images-3">
            <div class="site-images-3-left">
                <%= link_to image_tag("hood1.jpg",width:'600',height:'600'), detail_no_login3_path %>
            </div>
            <div class="site-images-3-right">
                <%= link_to image_tag("hood3.jpg",width:'600',height:'600'), detail_no_login4_path %>
            </div>
        </div>
    </div>
    <!-- End Images Content 3 -->
    <div class="site-footer">
        <p style="text-align: center">&copy; <b>2019 - CN340 SOFTWARE ENGINEERING</b></p>
    </div>
</div>