<div class="container-register">
    <div class="site-header">
        <div class="site-logo">
            <%= link_to image_tag("logo.png",width:'250',height:'70'), home_path  %>
        </div>
        <div class="site-nav-2">
            <%= link_to "Home" , home_path %>
        </div>
      
    </div>
    <div class="site-register">
        <div>
            <p id="notice" style="text-align: center;font-size:2em;">
                <%= notice %>
            </p>
            <p>
            <strong>Name:</strong>
            <%= @order.name %>
          </p>
          
          <p>
            <strong>productname:</strong>
            <%= @order.productname %>
          </p>
          
          <p>
            <strong>Address:</strong>
            <%= @order.address %>
          </p>
          
            
        </div>
    </div>


  


    <div class="site-register-footer">
        <p style="text-align: center;">&copy; 2019 - CN340 SOFTWARE ENGINEERING</p>
    </div>
</div>




# <%= link_to 'Edit', edit_order_path(@order) %> |
# <%= link_to 'Back', orders_path %>
